body {
    background: black;
    color: #fff;
    max-width: 100%;
    margin: 0 auto;
  }

  h1 {
      font-size: 3rem;
      line-height: 2.5rem;
      margin-top: 1rem;
      margin-bottom: 5rem;
      margin-left: 1rem;
      /* border-bottom: 1px solid; */
  }

  h2 {
      font-size: 1rem;
      line-height:1.5rem;
      margin-left: 1rem;
      border-bottom: 1px solid;
  }

  p {
    margin-top: 1rem;
    margin-left: 1rem;
  }

.grid {
    display: flex;
    flex: 1 1 0px;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: stretch; */
    flex-wrap: nowrap;
    width: 100%;

}

.content {
    /* equally distribute */
    flex-grow: 1;
    flex: 1 1 1rem;
    margin-right: 0.5rem;

}

/* shapes */
#circle {
    width: 20rem;
    height: 20rem;
    margin: auto;
    background: black;
    border-radius: 50%;
  }

  #triangle-topright {
    width: 0;
    height: 0;
    border-top: 20rem solid black;
    border-left: 20rem solid transparent;
  }

  .shape-wrapper {
    margin: 0px;
    position: relative;
    width: 100%;
    height: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
.column {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
.shape-grid {
    display: flex;
    padding: 0;
}

.shape-cell {
    display: inline-block;
    margin: auto;
    vertical-align: top;
    width: 100%;
}

.square-size {
    /* width: 25%;
    padding-bottom: 0; */
}

.blue-fill {
      background-color: hotpink;
  }

.purple-fill {
    background-color: tomato;
}

.pink-fill {
    background-color: lightpink;
}

.yellow-fill {
    background-color: gold;
}

